fastapi
uvicorn[standard]
firebase-admin
google-cloud-firestore
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
faiss-cpu
pypdf
requests
python-dotenv
pydantic<2.0.0
python-multipart
